<h1>Edit Plan for <%= @plan.title %></h1>

<p><%= @error %></p>

<form action="/plans/<%= @plan.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label>Plan Name</label>
    <input type="text" name="plan[title]" value="<%= @plan.title %>">
    <label>Instructions</label>
    <input type="textarea" name="plan[instructions]" value="<%= @plan.instructions %>">
    <label>Image</label>
    <input type="text" name="plan[image]" value="<%= @plan.image %>">
    <button type="submit">Edit Plan</button>

</form>