<style>
  img {
  max-width: 500px;
  height: 500px;
  }
  </style>



<h1> Wood Working Plans </h2>
<a href="/plans/new">Create a new plan!</a>
<% @plans.each do |plan| %>
    <h2><a href="/plans/<%= plan.id %>"><%= plan.title %></a></h2>
    <p><%= plan.instructions %></p>
    <img src="<%= plan.image %>">
    <% if current_user == plan.user %>
        <a href="/plans/<%= plan.id %>/edit">Edit Plan</a>
    <% end %>
<% end %>


